.mainWrapper {
  --size: 500px;
  max-width: var(--size);
  min-height: var(--size);
  width: 90%;
  margin: 0 auto;
}
.wrapper {
  position: relative;

  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 34%;
  width: 34%;
  font-size: 1.7em;
  text-align: center;
  z-index: 1;
}

.title {
  text-align: center;
  font-size: 1.8em;
  font-weight: 700;
}
.circle {
  max-width: var(--size);
  min-width: var(--size);
  height: var(--size);
  border-radius: 50%;
  padding: 8%;
  position: relative;
}
.leftCircle {
  margin-right: -20%;
}
.rightCircle {
  margin-left: -20%;
}
.leftText,
.rightText {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  font-size: 1.7em;
  max-width: 50%;
  width: 50%;
  text-align: center;
}
.leftText {
  left: 5%;
}
.rightText {
  right: 5%;
}
